/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
.inline-span {
  display: inline-block;
  margin-right: 25px;
}
/* Navigation styles */
nav {
    background-color: black;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    height: 80px;
    line-height: 80px;
  }
  
  nav a {
    color: white !important;
    font-weight: 500;
    font-size: 18px !important;
  }
  
  nav a:hover {
    background-color: white !important;
    color: black !important;
  }
  
  nav .brand-logo:hover {
    background-color: transparent !important;
  }
  
  nav a i {
    font-size: 18px;
    margin-right: 5px;
  }

  .change:hover {
    color: red !important;
  }
  
  /* Button styles */
  .buttons {
    /* border-radius: 30px !important; */
    background-color: black !important;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .buttons:hover {
    opacity: 0.7;
  }
  
  .buttons-2:hover {
    opacity: 0.7;
  }

  i {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
  
  .profile a {
    margin: 35px;
    margin-top: 100px;

  }

  .profile-photo {
    margin-top: 15px;
  }
  
  /* Heading and paragraph styles */
  h2,
  h3 {
    margin-top: 55px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 2.5em;
  }
  
  p,
  span {
    color: black;
  }
  
  hr {
    height: 2px;
    width: 25%;
    background-color: black;
    margin-bottom: 45px;
  }
  
  /* Sign up and Login user redirect link text */
  .guide-user {
    color: red;
  }
  
  .guide-user:hover {
    opacity: 0.7;
  }
  
  /* Home page hero image */
  .hero-home {
    background: url(../images/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    max-width: 100% !important;
    margin-top: 55px;
  }

  .hero-home-2 {
    background: url(../images/home-hero.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    max-width: 100% !important;
    margin-bottom: 0px;
  }
  
  .hero-cta {
      margin-top: 300px;
  }
  
  /* Home page hero image responsive */
  @media(max-width: 600px) {
    .hero-home {
      background-size: cover;
      min-height: 180px
    }

    .profile {
      margin-top: 35px !important;
    }

    .profile-btn {
        padding: .5rem .5rem;
        font-size: .8rem;
    }

    .profile a {
      margin: 15px;
  }

    .hero-home-2 {
      min-height: 687px
    }

    .full-image {
      margin-top: 0px !important;
    }
  }
  
  @media only screen and (min-width:601px) and (max-width:1024px) {
    .cta {
      margin-top: 300px;
    }

    .hero-home-2 {
      min-height: 1150px;
    }
  }
  
  @media only screen and (min-width:601px) and (max-width:768px) {
    .row .col.m3 {
      width: 50%;
    }
  }
  
  @media(max-width: 320px) {
    h2 {
      font-size: 2em;
    }
    
    .profile {
      margin-top: 35px !important;
    }

  .profile-btn {
      padding: .400rem .400rem;
      font-size: .59rem;
  }
  }
  
  /* Keep all card containers and images the same height */
  .card img {
    height: 230px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .card-fixed {
    max-height: 380px !important;
  }

  .card-fixed-profile {
    max-height: 380px !important;
    max-width: 380px;
  }

  .my-profile .col.s12 {
    width: 100%;
    margin-left: 0;
    left: 0;
    right: 0;
    margin: auto;
    float: none;
  }

  .card-image-profile img {
    border-radius: 50%;
    padding: 10px;
    height: 230px;
    width: 230px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  /* Flash messages */
  .flashes {
    margin-top: 55px;
  }
  
  .flashes h4 {
    margin: auto;
  }
  
  .flash-close {
    color: black;
  }
  
  /* Profile page heading */
  .profile {
    margin: auto;
  }
  
  /* Full-info page styles */
  .full-image {
    max-height: 450px;
    margin-top: 15px;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  .full-text {
    padding: 0 20px 0;
  }
  
  .full {
    padding: 15px;
  }
  
  strong {
    font-size: 18px;
  }
  
  /* All-sneakers Search box */
  .search-box {
    margin-bottom: 55px;
  }
  
  .search-go {
    margin-top: 35px;
  }
  
  /* Shoe name on image cards */
  .shoe-name {
    color: #ff7f00;
  }
  
  /* Footer */
  .page-footer {
    background-color: black;
  }
  
  footer li {
    display: inline;
    margin: 15px;
    font-size: 25px;
  }
  
  footer li:hover {
    opacity: 0.7;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
  /* Sticky footer */
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  
  /* Place eye icon in password field
  Credit: https://codepen.io/Sohail05/pen/yOpeBm */
  .field_icon {
    float: right;
    margin-left: -25px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }