{% extends "base.html" %}
{% block content %}

<!-- Home page hero image and CTA -->
<div class="row hero-home" title="">
</div>

<div class="container">
    <div class="row">
        <h2 class="center">Band Diary</h2>
        <hr>
    </div>
</div>

<!-- Loop over gigs collection -->
<div class="row">
    {% for gig in gigs %}
       <p>{{gig.category_name}}</p> 
       <p>{{gig.gig_date}}</p>
     <p>{{gig.arrival_time}}</p>
      <p>{{gig.package_type}}</p>
       <p>{{gig.first_dance}}</p>
      <p>{{gig.couple_name}}</p>
       <p>{{gig.stage_time}}</p>
       <p>{{gig.google_map_url}}</p>
      <p>{{gig.image_url}}</p>
    {% endfor %}
</div>

{% endblock %}