{% extends "base.html" %}
{% block content %}

<!-- Home page hero image and CTA -->
<div class="row hero-home" title="">
</div>

<div class="container">
    <div class="row">
        <h2 class="center">Upcoming Gigs</h2>
    </div>
</div>

<div class="row">
    {% for gig in gigs %}
        <div class="card-fixed col s12 m3 l4">
            <a href="{{ url_for('gig_info', gig_id=gig._id) }}">
                <span class="sr-only">Click image for more info</span>
                <div class="card tooltipped" data-position="top" data-tooltip="Click for more info">
                    <div class="card-image">
                        <!-- Show image from database or backup from images folder -->
                        <img class="activator" src="{{ gig.image_url }}" alt="All sneakers image"
                            onerror="this.onerror=null;this.src='../static/images/error-image.png';">
                    </div>
                    <div class="card-content">
                        <!-- Show title, shoename and user from database -->
                        <span class="card-title activator">{{ gig.category_name }}</span>
                        <p class="shoe-name">{{ gig.venue }}</p>
                        <p><em>{{ gig.gig_date }}</em></p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}