{% extends "base.html" %}
{% block content %}

<!-- Home page hero image and CTA -->
<div class="row hero-home" title="">
</div>

<div class="container">
    <div class="row">
        <h2 class="center">Member Availability</h2>
    </div>
</div>

<div class="row">
    {% for night in nights %}
        <div class="card-fixed col s12 m3 l4">
            <a href="">
                <div class="card tooltipped" data-position="top" data-tooltip="Click for more info">
                    <div class="card-content">
                        <!-- Show title, shoename and user from database -->
                        <p class="shoe-name">{{ night.gig_date }}</p>
                        <p><i class="fas fa-user"></i> <em>{{ night.user }}</em></p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}